body{
    background-color: #D6BF58;
}

#laporan{
    text-align: center;
    margin-top: 100px;
}

#sambutan {
    align-items: center;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 600px;
    text-align: center;
}
#sambutan h2 {
    margin-bottom: 20px;
    color: #333;
}
#sambutan img {
    width: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
}
#sambutan p {
    color: #555;
    line-height: 1.6;
    text-align: justify;
}